body {
	background: #91ffd4;
	margin: 0;
	color: #222;
}

header {
	background: #91ffd4;
	border-bottom: 1px solid #91ffd4;
	font-size: 36.5px;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

header img {
	width: 250px;
	
	padding: 10px;
}

header div {
	margin: auto;
}

/*dropdown header menu thing*/
.dropdown {
	position: relative;
	display: inline-block;
}

.down {
	display: inline-flex;
	height: 100px;
	cursor: pointer;
}

.down .arrow {
	vertical-align: middle;
	line-height: 100px;
}

.down span {
	margin-left: 12px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #91ffd4;
	color: white;
	min-width: 270px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px;
	z-index: 0;
	font-size: 20px;
}

.dropdown a {
	text-decoration:none;
	color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
	color: #EB5F91;
}

/*image*/

.splash img {
	width: 100%;
}

.splash {
	position: relative;
	text-align: center;
	color: white;
	width: 100%;
}

.bg {
	width: 100%;
	height: 100%;
	background: #91ffd480;
	position: absolute;
	top: 0;
	left: 0;
}

.splashtext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
}

.splashtext a {
	color: white;
	text-decoration: none;
	font-size: 7vw;
}

.splashtext:hover a {
	color: #EB5F91;
}


.introimg img {
	width: 500px;
}

.introimg {
	margin:auto;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #222;
}

.intro {
	width: 1000px;
	margin: auto;
}

p {
	text-indent: 40px;
}

footer img {
	border-radius: 1000px;
	width: 5%;
}

footer, footer span {
	background: white;
	padding: 10px;
	font-size: 12px;
}

footer span {
	padding-left: 3px;
	font-size: 16px;
	padding-left: 5px;
}

footer p {
	text-indent: 0;
}

footer img h4 {
	display: flex;
}

@media screen and (max-width: 769px) {
	body, header, header div, footer, main {
		max-width: 769px;
		margin: 0;
	}
	
	header img {
		width: 150px;
	}
	
	footer {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	footer h4, footer span, footer p, footer {
		font-size: 16px;
	}
	
	footer h5 {
		font-size: 15px;
	}
}